<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <title>AddNewTask</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="card">
        <h2>
            Create New Task
        </h2>
    </div>
<div class="card-body">
    <form action="#" th:action="@{/saveNewTask}" method="post" th:object="${newTask}">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="content">Content</label>
                    <input type="text" class="form-control" placeholder="Add content" id="content" th:field="*{content}"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                        Please provide a valid task.
                    </div>
                </div>
                    </div>
            <div class="form-group">
                <label for="screenData">Date</label>
                <input type="datetime-local" class="form-control" placeholder="Select Date" id="screenData" th:field="*{screenData}"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('screenData')}" th:errors="*{screenData}">
                    Please provide a valid information.
                </div>
            </div>

            <div class="form-group">
                <label for="priority">Priority</label>
                <select class="form-control" id="priority" th:field="*{priority}">
                    <option th:each="priority : ${prioritylist}" th:value="${priority}" th:text="${priority.name}">priority X</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" value="">Confirm New Task</button>
        </div>
    </form>
</div>
</div>



<!--<form th:action="@{/saveNewTask}" method="post" th:object="${newTask}">
    <table class="table">
        <tr>
            <td>Task</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>
                Date
            </td>
            <td><input type="datetime-local" th:field="*{screenData}"/>
            </td>
        </tr>
        <tr>
            <td>
                Priority
            </td>

            <td>
                <select th:field="*{priority}">
                    <option th:each="priority : ${prioritylist}" th:value="${priority}" th:text="${priority.name}">priority x</option>
                </select>
            </td>
        </tr>
        &lt;!&ndash;<tr>
            <td>Priority</td>
            <td><input type="text" name="priority" th:value="*{priority}"/></td>
        </tr>&ndash;&gt;
    </table>

    <button type="submit">Create New Task</button>
</form>
</div>-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>