<!DOCTYPE html>
<http:html xmlns:th="xmlns:th=" xmlns:http="http://www.w3.org/1999/xhtml"/>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <title>Add User*Administrator</title>
</head>
<body>
<div class="container">
<div class="card">
    <h2>
        Create New User
    </h2>
</div>
<div class="card-body">
    <form action="#" th:action="@{/saveNewUser}" method="post" th:object="${newUser}">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="login">login</label>
                    <input type="text" class="form-control" placeholder="Add login" id="login" th:field="*{login}"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">
                        Please provide a valid task.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" placeholder="Add password" id="password" th:field="*{password}"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Please provide a valid task.
                </div>
            </div>

            <div class="form-group">
                <label for="authorityRole">authorityRole</label>
                <select class="form-control" id="authorityRole" th:field="*{authorityRole}">
                    <option th:each="authorityRole : ${authorityRoleList}" th:value="${authorityRole}" th:text="${authorityRole.name}">authorityRole X</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" value="">Confirm New User</button>
        </div>
    </form>
</div>
</div>
<a class="btn btn-info" th:href="@{/list}">Back too task list</a>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

