<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Edit User *Administrator</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

</head>
<body>
<div class="container">
    <form action="#" th:action="@{/saveEditedUser/{UserId} (UserId=*{id})}" method="post" th:object="${editedUser}">
        <div class="form-group">
            <label for="login">New login</label>
            <td><input type="text" class="form-control" placeholder="Select new login" id="login"  th:field="*{login}"/></td>
        </div>
        <div class="form-group">
            <label for="password">New password</label>
            <td><input type="password" class="form-control" placeholder="Select new password" id="password"  th:field="*{password}"/></td>
        </div>

        <select th:field="*{authorityRole}">
            <option th:each="authorityRole : ${authorityRoleList}" th:value="${authorityRole}" th:text="${authorityRole.name}">authorityRole X</option>
        </select>

        <button class="btn btn-primary" type="submit">Save Changes <Task></Task></button>

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>