<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit Task</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

</head>
<body>
<div class="container">
    <form action="#" th:action="@{/saveEditedContent/{TaskId} (TaskId=*{id})}" method="post" th:object="${editedTask}">
        <div class="form-group">
            <label for="content">New Content</label>
            <td><input type="text" class="form-control" placeholder="Select new content" id="content"  th:field="*{content}"/></td>
        </div>
        <div class="form-group">
            <label for="screenData">New Date</label>
            <td><input type="datetime-local" class="form-control" placeholder="Select new Date" id="screenData" name="screenData" th:value="*{screenData}"/></td>
        </div>

        <select th:field="*{priority}">
            <option th:each="priority : ${prioritylist}" th:value="${priority}" th:text="${priority.name}">priority X</option>
        </select>

        <button class="btn btn-primary" type="submit">Save Changes <Task></Task></button>

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>