<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Task Menager</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

</head>
<body>
<div class="container">
    <form sec:authorize="!isAuthenticated()" th:action ="@{/loginForm}" method="get"><button type="submit">Login</button> </form>
    <form sec:authorize="isAuthenticated()" th:action ="@{/logout}" method="post"><button type="submit">Logout</button> </form>
    <form sec:authorize="hasAuthority('ADMINISTRATOR')" th:action="@{/addUser}" method="get"><button type="submit">Add User</button> </form>
    <form sec:authorize="hasAuthority('ADMINISTRATOR')" th:action="@{/userList}" method="get"><button type="submit">User List</button> </form>
    <table class="table">
    <thead>
    <th>Content</th>
    <th>Data</th>
    <th>Priority</th>
    <th>Completed</th>
    <th>Edit Task</th>
    <th>Delete Task</th>
    </thead>
    <tbody>
    <tr th:each="task : ${lista}">
    <td th:text="${task.content}">Content</td>
    <td th:text="${task.data}">Data</td>
    <!--<td th:text ="${task.priority}">priority</td>-->
        <td th:if="${task.priority == null}">No Data</td>
        <td th:if="${task.priority != null}" th:text="${task.priority.name}">Priority</td>
        <td><form method="post" th:action="@{/update/{id} (id=${task.id})}"><button class="btn btn-success" type="submit" onclick="return confirm('Are you sure you want to finish this task?');">Finish IT ! </button></form></td>
        <td><a class="btn btn-warning" th:href="@{/editTask/{taskId}(taskId=${task.id})}" onclick=" return confirm('Are you sure you want to edit this item?');">Edit</a></td>
        <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${task.id})}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a> </td>
        </tr>
    </tbody>
       <!-- <td th:if="${uzytkownik.sex != null}" th:text="${uzytkownik.sex.name}">Mezczyzna</td>
        <td th:if="${uzytkownik.sex == null}">nieznana</td>-->
</table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/list(page=0)}" aria-label="First">
                    <span aria-hidden="true">&lt;&lt;</span>
                    <span class="sr-only">First</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/list(page=${lista.hasPrevious() ? lista.previousPageable().pageNumber : 0})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" th:text="|${lista.number + 1} out of ${lista.getTotalPages()}|">
                    1 of 1
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/list(page=${lista.hasNext() ? lista.nextPageable().pageNumber : lista.getTotalPages() - 1})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/list(page=${lista.getTotalPages() - 1})}" aria-label="Last">
                    <span aria-hidden="true">&gt;&gt;</span>
                    <span class="sr-only">Last</span>
                </a>
            </li>
        </ul>
    </nav>
<a class="btn btn-primary" th:href="@{/add}">Add New Task</a>
</div>
</body>
</html>