<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>User List*Administrator</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

</head>
<body>
<div class="container">
       <table class="table">
        <thead>
        <th>Login</th>
        <th>Password</th>
        <th>authority</th>
        </thead>
        <tbody>
        <tr th:each="user : ${lista}">
            <td th:text="${user.login}">Login</td>
            <td th:text="${user.password}">Password</td>
            <!--<td th:text ="${task.priority}">priority</td>-->
            <td th:if="${user.authorityRole == null}">No Data</td>
            <td th:if="${user.authorityRole != null}" th:text="${user.authorityRole.name}">Authority Role</td>
<!--
            <td><form method="post" th:action="@{/update/{id} (id=${task.id})}"><button class="btn btn-success" type="submit" onclick="return confirm('Are you sure you want to finish this user?');">Finish IT ! </button></form></td>
-->
            <td><a class="btn btn-warning" th:href="@{/editUser/{userId}(userId=${user.id})}" onclick=" return confirm('Are you sure you want to edit this item?');">Edit</a></td>
            <!--<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${user.id})}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a> </td>
       -->
        </tr>
        </tbody>
        <!-- <td th:if="${uzytkownik.sex != null}" th:text="${uzytkownik.sex.name}">Mezczyzna</td>
         <td th:if="${uzytkownik.sex == null}">nieznana</td>-->
    </table>
    <a class="btn btn-primary" th:href="@{/add}">Add New User</a>
    <a class="btn btn-info" th:href="@{/list}">Back too task list</a>
</div>
</body>
</html>